
<mat-card >
    <mat-card-header>
      <mat-card-title>Allergenes</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="collection$ | async as collection">
        <mat-selection-list #allergens (selectionChange)="onSelection(allergens.selectedOptions.selected)" >
            <mat-list-option *ngFor="let item of collection"  [value]="item">
              ({{item?.code}}) - {{item?.label}}
            </mat-list-option>
          </mat-selection-list>
          <p>
            Options selected: {{allergens.selectedOptions.selected.length}}
          </p>        
    </mat-card-content>
  </mat-card>


